body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #202020 ;
}


.projets{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#projetsTitle{
    font-size: 8em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #007fff;
    position: relative;
    transition: all .3s ease-in-out;
}

#projetsTitle:hover{
    color: #00000000;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #007fff;
}

#projetsTitle::before{
    content: '';
    background-color: #a9eafe;
    position: absolute;
    border-radius: 5em;
    left: 0;
    bottom: calc(50% - 8px);
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

#projetsTitle:hover::before {
    height: 40%;
}

/* Disposition Projet */
#projetsList{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

#projetsListRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0.5em;
}

#projetsListRightBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-top: 0.5em;
}

/* Liste Projet */

#projetLeft{
    width: 50%;
    height: 100%;
    margin: 0.5em;
    background-color: #7f7fff;
}

#projetRightTop{
    width: 100%;
    height: 50%;
    margin-bottom: 0.5em;
    background-color: #fff;

}
         
#projetRightBottomLeft{
    width: 50%;
    height: 100%;
    margin-right: 0.5em;
    background-color: #007fff;
}

#projetRightBottomRight{
    width: 50%;
    height: 100%;
    margin-left: 0.5em;
    background-color: #a9eafe;
}

.projet{
    border-radius: 2em;
    padding: 2em;
    border: 3px solid #000;
}
                