* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: none;
}

/** Curseur **/

.cursor {
    width: 5em;
    height: 5em;
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    z-index: 999999;
    background-image: url('../images/curseur.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: cursorAnim 10s linear infinite;
}

/** Curseur Logo Langage **/

.logoCursor{
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    pointer-events: none;
    z-index: 999999;
    color: #fff;
    padding: 0.7em 0.9em;
    background-color: #001a33;
    border-radius: 10px;
    font-size: 1em;
}


/** MenuBurger **/

.boxBurger{
    width: 6vw;
    height: 6vw;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    background-color: #ffffff00;
}

.containerLinesBurger{
    width: 60%;
    height: 60%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.lineBurger{
    border-radius: 50px;
    width: 100%;
    height: 10%;
    background-color: #007fff;
    box-shadow: 0px 0px 5px #001a33;
    position: absolute;
}

.lineBurger:nth-child(1){
    top:0px;
    left: 0px;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out, top 0.4s ease-in-out;
}

.lineBurger:nth-child(2){
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: 0.2s 0.2s ease-in-out;
}

.lineBurger:nth-child(3){
    bottom:0px;
    left:0px;
    transform:rotate(0deg);
    transition: transform 0.4s ease-in-out, bottom 0.4s  ease-in-out;
}



.boxBurger.active .lineBurger{
    background-color: #007fff;
}

.boxBurger.active .lineBurger:nth-child(1){
    top:calc(50% - 5%);
    transform: rotate(45deg) ;
    transition: top 0.4s ease-in-out, left 0.4s ease-in-out, transform  0.4s ease-in-out;
}

.boxBurger.active .lineBurger:nth-child(2){
    opacity: 0;
    transition: 0s ease-in-out;

}

.boxBurger.active .lineBurger:nth-child(3){
    bottom:calc(50% - 5%);
    transform: rotate(-45deg) ;
    transition: top 0.4s 0.4s ease-in-out, left 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.sideNav {
    height: 100%;
    width: 100%;
    position: fixed;
    left: -100%;
    top: -100%;
    background-color: #7f7fff;
    transition: 0.3s ease;
    z-index: 98;
}

.burgerList {
    padding-left: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.burgerA {
    font-family: 'Oswald';
    font-weight: 900;
    font-size: 7em;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    transition: all .3s ease-in-out;
}

.burgerA:hover{
    color: #00000000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #a9eafe;
}

.burgerA::before {
    content: '';
    background-color: #a9eafe;
    position: absolute;
    border-radius: 5em;
    left: 0;
    bottom: 3px;
    width: 100px;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.burgerA:hover::before {
    width: 100%;
}

.sideNav.active {
    top: 0;
    left: 0;
}

/* Common Styles */ 

.none{
    display: none;
}

.link{
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
}

.link::before{
    content: '';
    background-color: #7f7fff;
    position: absolute;
    border-radius: 5em;
    right:0;
    bottom: 0;
    width: 2px;
    height: 2px;
    transition: all .3s ease-in-out;
}

.link:hover::before{
    width: 100%;
}

.list{
    list-style-type: circle;
    margin-left: 1em;
}

.mt{
    margin-top: 0.5em;
}

.mb{
    margin-bottom: 0.5em;
}

.bigTitle{
    font-size: 8em;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #007fff;
    position: relative;
    transition: all .3s ease-in-out;
}

.bigTitle:hover{
    color: #00000000;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #007fff;
}

.bigTitle::before{
    content: '';
    background-color: #a9eafe;
    position: absolute;
    border-radius: 5em;
    left: 0;
    bottom: calc(50% - 8px);
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.bigTitle:hover::before {
    height: 40%;
}

.midTitle{
    color:#7f7fff;
    font-size: 5em;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}

.title{
    font-size: 2em;
    color: #a9eafe;
    font-weight: 300;
}

.boutonStyle{
    font-size: 1.2em;
    background-color: #ffffff00;
    border: 2px solid #a9eafe;
    border-radius: 4em;
    padding: 0.8em;
    transition: transform 0.1s ease;
    color: #fff;
    animation: button-glow 1.5s infinite alternate;
    cursor: pointer;
}

.boutonStyle::before{
    content: "";
    background-color: #ffffff;
    position: absolute;
    border-radius: 1em;
    left: 25%;
    bottom: 10px;
    width: 0%;
    height: 0.1em;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.boutonStyle:hover::before {
    width: 50%;
}

/** Footer **/

.footer{
    margin-top: 9em;
    padding: 2em;
    background-color: #7f7fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cvA{
    background-color: #ffffff00;
    border: 2px solid #a9eafe;
    border-radius: 4em;
    padding: 0.8em;
    transition: transform 0.1s ease;
    color: #fff;
}

.réseaux{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.réseauxA{
    background-color: #ffffff00;
    border: 2px solid #a9eafe;
    aspect-ratio: 1/1;
    border-radius: 50%;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.réseauxA img{
    width: 1.5em;
    height: 1.5em;
}

.footerRights{
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    background-color: #202020;
}


/** Animation */

.animFollow{
    transition: transform 0.1s ease;
    display: flex;
}

@keyframes button-glow {
    0% {
        box-shadow: 0 0 2px #fff;
    }
    100% {
        box-shadow: 0 0 10px #fff;
    }
}

@keyframes cursorAnim {
    0% {
        transform: rotate(0);

    }
    100% {
        transform: rotate(360deg);
       
    }
}

@keyframes shake {
    0% {
      transform: rotate(0);
    }
  
    20% {
      transform: rotate(-0.5deg);
    }
  
    40% {
      transform: rotate(0.5deg);
    }
  
    60% {
      transform: rotate(-0.2deg);
    }
  
    80% {
      transform: rotate(0.2deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }

/** ANimation Reveal **/

[class*='reveal-']{
    opacity: 0;
}

.reveal-visible{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.reveal-2{
    transition-delay: .1s;
}

.reveal-3{
    transition-delay: .2s;
}

.reveal-4{
    transition-delay: .3s;
}

.reveal-5{
    transition-delay: .4s;
}

.reveal-6{
    transition-delay: .5s;
}

@media (max-width:767px) {
    .cursor {
        display: none;
    }

    .boxBurger{
        width: 15vw;
        height: 15vw;
    }
    
    .sideNav {
        height: 100dvh;
        width: 100dvw;
        position: fixed;
        left: -100%;
        top: -100%;
        background-color: #7f7fff;
        transition: 0.3s ease;
        z-index: 98;
    }
    
    .burgerList {
        padding-left: 5%;
        justify-content: center;
    }
    
    .burgerA {
        font-weight: 700;
        font-size: 3em;
    }

    .burgerA::before {
        bottom: 3px;
        width: 20px;
        height: 2px;
    }

    .containerLinesBurger{
        width: 80%;
        height: 80%;
    }

    /* Common Styles */ 

    .link{
        position: relative;
        font-family: 'Oswald', sans-serif;
        font-size: 0.8em;
        font-weight: 500;
        text-transform: uppercase;
    }

    .link::before{
        content: '';
        background-color: #fff;
        position: absolute;
        border-radius: 5em;
        left: 0;
        bottom: 0;
        width: 2px;
        height: 2px;
        transition: all .3s ease-in-out;
    }

    .link:hover::before{
        width: 100%;
    }

    .list{
        list-style-type: circle;
        margin-left: 1em;
    }

    .mt{
        margin-top: 0.5em;
    }

    .mb{
        margin-bottom: 0.5em;
    }

    .bigTitle{
        margin-top: 5vh;
        font-size: 4em;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        color: #007fff;
        position: relative;
        transition: all .3s ease-in-out;
    }

    .bigTitle:hover{
        color: #00000000;
        -webkit-text-stroke-width: 1px;
    }

    .bigTitle:hover::before {
        height: 20%;
    }

    .midTitle{
        color:#7f7fff;
        font-size: 3em;
        font-weight: 600;
        font-family: 'Oswald', sans-serif;
    }

    .title{
        font-size: 1.5em;
        font-weight: 300;
    }

    .boutonStyle::before{
        content: "";
        background-color: #ffffff;
        position: absolute;
        border-radius: 1em;
        left: 25%;
        bottom: 10px;
        width: 0%;
        height: 0.1em;
        z-index: -1;
        transition: all .3s ease-in-out;
    }

    .boutonStyle:hover::before {
        width: 50%;
    }

    /** Footer **/

    .footer{
        margin-top: 5em;
        padding: 2em;
        background-color: #7f7fff;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 2vw;
    }

    #cvA{
        background-color: #ffffff00;
        border: 2px solid #a9eafe;
        text-align: center;
        border-radius: 4em;
        padding: 0.8em;
        transition: transform 0.1s ease;
        color: #fff;
    }

    .réseaux{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }

    .réseauxA{
        background-color: #ffffff00;
        border: 2px solid #a9eafe;
        aspect-ratio: 1/1;
        border-radius: 50%;
        padding: 0.8em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        
}


