body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#202020, #373737);
}


.projets{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    gap: 8em;
    height: auto;
}

.projetDiv{
    position: relative;
    padding: 1em;
    width: 60vw;
    border-radius: 1em;
    border: 1px solid #666666;
    background: linear-gradient(45deg, #0000000e,#00000074 );
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.projetDiv:hover {
    animation: shake .5s ease-in-out;
  }

.projetTexte{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1em;
    width: 45%;
}

.projetImage{
    width: 45%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.projetDate{
    color: #7f7fff;
}

.projetImgs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    gap: 1em;
}

.projetImg{
    width: 70px;
    object-fit: cover;
}

.projetNum{
    position: absolute;
    font-size: 8em;
    font-weight: 600;
    color: #00000000;
    bottom:-10vh;
    right:-10vh;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #7f7fff;
}

@media (max-width:767px) {
    body{
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom,#202020, #373737);
    }
    
    .projets{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        align-items: center;
        gap: 3em;
        height: auto;
    }
    
    .projetDiv{
        padding: 1em;
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 4vh;
    }
    
    .projetTexte{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        gap: 1em;
        width: 100%;
    }
    
    .projetImage{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1em;
    }
    
    .projetDate{
        color: #7f7fff;
    }
    
    .projetImgs{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;
    }
    
    .projetImg{
        width: 70px;
        object-fit: cover;
    }
    
    .projetNum{
        position: absolute;
        font-size: 5em;
        font-weight: 600;
        color: #00000000;
        bottom:-5%;
        right:-5%;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #7f7fff;
    }
}