body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#202020, #373737);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: 10vh auto;
}

hr{
    width: 100%;
    border: 1px solid #a9eafe;
    margin: 5vh auto;
}

.infoProjet{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    gap:1em;
}

.infoProjet div{
    height:4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap:1em;
}

.titleProjet{
    font-family:'Oswald', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
}

.descriptionProjet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titleTypeProjet{
    font-weight: 200;
    font-size: 1.5em;
    align-self: flex-start;
}

.descriptionContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.descriptionImg{
    width: 100%;
    border-radius: 3em;
    margin: 5vh auto;
}

/** Vidéos**/

.video{
    width: 100%;
    border-radius: 3em;
    margin: 10vh auto;
}

.descriptionContentLeft{
    width: 50%;
}

.descriptionContentRight{
    width: 50%;
}

@media (max-width:767px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        margin: 5vh auto;
    }
    
    hr{
        width: 100%;
        border: 1px solid #a9eafe;
        margin: 5vh auto;
    }
    
    .infoProjet{
        margin-top: 3vh;
        flex-direction: column;
        gap:0.5em;
    }
    
    .infoProjet div{
        height:auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        gap:1em;
    }
    
    .titleProjet{
        font-family:'Oswald', sans-serif;
        text-align: center;
        text-transform: uppercase;
        font-size: 3em;
    }
    
    .descriptionProjet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .titleTypeProjet{
        font-weight: 200;
        font-size: 1.5em;
        align-self: center;
    }
    
    .descriptionContent{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width: 100%;
        gap: 3vh;
    }
    
    .descriptionImg{
        width: 100%;
        border-radius: 3em;
        margin: 5vh auto;
    }
    
    /** Vidéos**/
    
    .video{
        width: 100%;
        border-radius: 3em;
        margin: 10vh auto;
    }

    
    .descriptionContentLeft{
        width: 90%;
    }
    
    .descriptionContentRight{
        width: 90%;
    }
    
}
