body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,#202020, #373737) ;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#proposContent{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#photoLeft img{
    width: 30vw;
    border-radius: 4em;
    border: 2px solid #000;
}

#textRight{
    padding-left: 1em;
    border-left: 2px solid #a9eafe;
}

.imgCompFront{
    width: 5vw;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.imgCompBack{
    width: 5vw;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.imgCompDesign{
    width: 5vw;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.questionTitle{
    cursor: pointer;
    font-size: 1.8em;
    color: #a9eafe;
    font-weight: 400;
}

.answerText{
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    display: none;
    padding-top: 1em;
    padding-bottom: 1em ;
}


.QA-item{
    padding: 1em;
    border-bottom: 1px solid white;
    transition: 0.1s ease-in-out;
}

.QA-item:hover{
    border-bottom: 3px solid white;
}

.QA{
    width: 70vw;
}

@media (max-width:767px){
    
    main{
        flex-direction: column;
    }
    
    #proposContent{
        width: 70vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    
    #photoLeft img{
        width: 100%;
        border-radius: 1em;
    }
    
    #textRight{
        width: 100%;
        padding-left: 0em;
        border-left: 0px solid #a9eafe;
        padding-bottom: 1em;
        border-bottom: 2px solid #a9eafe;
    }
    
    .imgCompFront{
        width: 15vw;
    }
    
    .imgCompBack{
        width: 15vw;
    }
    
    .imgCompDesign{
        width: 15vw;
    }
    
    .questionTitle{
        font-size: 1.5em;
    }
    
    
    .QA{
        width: 70vw;
    }
}